<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Django Template</title>
</head>
<body>
  <h1>Django Template</h1>
  <ul>
    <li>
      {% comment %} <a href="http://127.0.0.1:8000/app/01_variables_filters">01_variables_filters</a> {% endcomment %}
      {% comment %} <a href="/app/01_variables_filters">01_variables_filters</a> {% endcomment %}
      <a href="{% url 'app:01_variables_filters' %}">01_variables_filters</a>
    </li>
    <li><a href="{% url 'app:02_tags' %}">02_tags</a></li>
    <li><a href="{% url 'app:03_layout' %}">03_layout</a></li>
    <li><a href="{% url 'app:04_staticfiles' %}">04_staticfiles</a></li>
    <li><a href="{% url 'app:05_urls' %}">05_urls</a></li>
    <li><a href="{% url 'app:06_bootstrap' %}">06_bootstrap</a></li>
  </ul>
</body>
</html>